.logo-icon {
  position: relative;
  width: 63px;
  height: 27px;
  overflow: hidden;
  flex-shrink: 0;
}
.column {
  position: relative;
  left: -40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}
.link {
  position: relative;
  line-height: 150%;
}
.chevron-down-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}

.button,
.button2 {
  border: 1px solid var(--black);
  padding: var(--padding-5xs) var(--padding-xl);
  justify-content: center;
  cursor: pointer;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.button2 {
  background-color: var(--black);
  color: var(--white);
}
.button2,
.column1,
.content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column1 {
  justify-content: center;
  gap: var(--gap-base);
}
.content {
  align-self: stretch;
  border-bottom: 1px solid var(--black);
  box-sizing: border-box;
  height: 72px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-45xl);
  justify-content: space-between;
}

.page-one {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.page-one {
  font-weight: 600;
}
.content2 {
  flex: 1;
  flex-direction: column;
}
.content2,
.menu,
.menu-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.menu-item {
  width: 150px;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: var(--gap-xs);
}
#menu2 {
  right: 0;
}
.menu {
  position: absolute;
  top: 0;
  background-color: var(--white);
  border: 1px solid var(--black);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xl);
  gap: var(--gap-base);
}
.content1 { 
  left: 0;
  z-index: 999;
  display: none;
  align-self: stretch;
  position: relative;
  height: 1px;
}
.content1i {
  left: 0;
  z-index: 999;
  display: block;
  align-self: stretch;
  position: relative;
  height: 1px;
}
.content1e { 
  z-index: 999;
  display: none;
  align-self: stretch;
  position: relative;
  right: 0;
  height: 1px;
}
.content1ie {
  right: 0;
  z-index: 999;
  display: block;
  align-self: stretch;
  position: relative;
  height: 1px;
}
.navbar-11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 100%;
  height: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.heading {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h1-size);
  line-height: 120%;
  text-align: left;
}
.column3 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text {
  align-self: stretch;
  position: relative;
  line-height: 150%;
}
.button4 {
  cursor: pointer;
  background-color: var(--black);
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.actions,
.button4,
.button6 {
  display: flex;
  flex-direction: row;
}
.button6 {
  cursor: pointer;
  border: 1px solid var(--white);
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
}
.actions {
  padding: var(--padding-base) 0 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--text-regular-semi-bold-size);
}
.column4 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--text-medium-normal-size);
}
.column4,
.content6,
.header-56 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content6 {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-61xl);
}
.header-56 {
  position: absolute;
  top: 73px;
  left: 0;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  background-image: url(../photo/public/header--56@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  color: var(--white);
}

a { color: inherit; }
.hide {
  display: none;
  position: relative;
  left: 20px;
}
.hide2 {
  display: none;
  position: relative;
}
#dropbtn {
  cursor: pointer;
}
#dropbtn2 {
  cursor: pointer;
}

.button10 {
  display: flex;
  flex-direction: row;
}
.button10 {
  border: 1px solid var(--black);
  padding: var(--padding-xs) var(--padding-5xl);
  align-items: center;
  justify-content: center;
  color: var(--black);
}
.column5,
.footer-links,
.link4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column5 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
}
.footer-links,
.link4 {
  align-self: stretch;
}
.link4 {
  flex-direction: row;
  padding: var(--padding-5xs) 0;
}
.footer-links {
  flex-direction: column;
  font-size: var(--text-small-link-size);
}
.column6 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  gap: var(--gap-base);
}
.column6,
.heading-parent,
.links {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.links {
  flex: 1;
  flex-direction: row;
  gap: var(--gap-21xl);
}
.heading-parent {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-base);
}
.placeholder {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.form,
.text-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.text-input {
  flex: 1;
  background-color: var(--white);
  border: 1px solid var(--black);
  padding: var(--padding-xs);
  align-items: center;
}
.form {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.privacy-policy {
  text-decoration: underline;
}
.actions2,
.text4 {
  align-self: stretch;
}
.text4 {
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 150%;
  color: var(--black);
}
.actions2 {
  flex-direction: column;
  gap: var(--gap-base);
  color: var(--color-dimgray);
}
.actions2,
.card1,
.newslatter {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.newslatter {
  width: 500px;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.card1 {
  align-self: stretch;
  border: 1px solid var(--black);
  flex-direction: row;
  padding: var(--padding-29xl);
  gap: var(--gap-109xl);
}
.link34 {
  position: relative;
  text-decoration: underline;
  line-height: 150%;
}
.footer-links3 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.credits1,
.footer-links3,
.row,
.social-links {
  display: flex;
  flex-direction: row;
}
.credits1 {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.row,
.social-links {
  align-items: flex-start;
}
.social-links {
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.row {
  align-self: stretch;
  justify-content: space-between;
}
.footer-10,
.home{
  background-color: var(--white);
  overflow: hidden;
}
.footer-10 {
  position: absolute;
  bottom: 50px;
  left: 0;
  width: 100%;
  height: 537px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-61xl) var(--padding-45xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.home{
  position: relative;
  width: 100%;
  height: 2460px;
  text-align: left;
  font-size: var(--text-regular-semi-bold-size);
  color: var(--black);
  font-family: var(--text-small-link);
}

.content8,
.gallery-3 {
  display: flex;
  justify-content: flex-start;
}
.content8 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.gallery-3 {
  position: absolute;
  bottom: 537px;
  left: 3px;
  background-color: var(--white);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-93xl) var(--padding-45xl);
  box-sizing: border-box;
  align-items: center;
  gap: var(--gap-61xl);
  text-align: center;
  font-size: var(--heading-h2-size);
}
.heading1{
  align-self: stretch;
  position: relative;
  line-height: 120%;
}
.section-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 768px;
  gap: var(--gap-5xl);
}
.placeholder-image {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 416px;
  object-fit: cover;
}
.cta-45 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 466px;
  width: 100%;
  height: 600px;
  overflow: hidden;
}