

h2, h3{
    color: white;
}

#box {
    display: none;
    text-align: center;
    position: absolute;
    left:35vw;
    top:20vh;

}

#field table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: san-serif;
    font-weight: bold;
    display: inline-block;
}

#field table td {
    background-color: rgb(42, 34, 50);
    width: 30px;
    min-width: 30px;
    height: 30px;
    min-height: 30px;
    border: 1px solid black;    
}